.sidebar_container {
    width: 220px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 200;
}

.sidebar_container > div {
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    height: 68px;
}

.sidebar_container h1 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 30px;
    line-height: 68px;
    text-align: center;
    margin: 0;

    color: #FFFFFF;
}

.sidebar_container h1 i {
    display: none;
}

.sidebar_container img {
    width: 100%;
}

.sidebar_container li {
    padding-left: 24px;
    height: 33px;
    line-height: 33px;
    border:1px solid #e7e7e7;
    color: #725C5C;
    transition:all 0.15s;
    cursor: pointer;
}

.sidebar_container li.selected {
    border-left: 5px solid #ED7839;
}

.sidebar_container li:hover {
    background: #fdf1eb;
    padding-left: 28px;
}

.sidebar_container li.selected:hover {
    padding-left: 24px;
}