/* media queries */

@media (max-width: 1200px) {

    /* sidebar */

    .sidebar_container {
        width: 180px;
    }
    
    /* header */   

    .header_container {
        flex-wrap: wrap;
        justify-content: flex-end;
        padding: 5px 15px;
    }
    .header_title {
        order: 1;
        padding: 20px 0;
    }

    /* content */

    .content_container {
        padding: 20px 15px;
    }

    .trabalho_content {
        flex-direction: column;
    }

    /* footer */

    .footer_container {
        padding: 20px 15px;
    }

    .footer_right {
        font-size: 14px;
    }

}

@media (max-width: 768px) {

    .page_root {
        flex-direction: column;
    }

    /* sidebar */
    .sidebar_container {
        width: 100%;
        position: fixed;
        background-color: #FFFFFF;
    }

    .sidebar_container h1 {
        padding-left: 24px;
        text-align: left;
        position: relative;
    }

    .sidebar_container h1 i {
        display: inline;
        position: absolute;
        right: 0px;
        top: -15px;
        padding: 15px;
    }

    #sidebar_menu {
        display: none;
    }

    #sidebar_menu.show {
        display: block;
    }

    .sidebar_container img {
        display: none;
    }

    /* header */

    .header_container {
       padding-top: 80px;
    }

    .btn_language {
        flex:1;
        font-size: 0.6rem;
        max-width: 100px;
    }

}